
ul {
  list-style-type: none;
  margin:15px ;
  padding:10px;
  overflow: hidden;
  background-color: lightgray;
font-size:18px;
font:bold;
text-align:center;
font-family: 'Hammersmith One', sans-serif;
border:2px solid black;
}

li {
margin:15px;
  display: block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li.rr{

float:right;
}
li.aa{
float:left;
}

.rr:hover{
background-color:gray;
}

.aa:hover{
background-color:#d6d4d5;
}

.fa {
 font-size: 35px;
 text-align:top;
}

.fa-instagram {
color:#C13584;

}

@media screen and (max-width:600px) {
li{
text-align:center;
width:100%;

}}















